html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ECDDB6;
    font-family: "Sofia Sans", sans-serif;
    scrollbar-color: #7D2A0C #F5CF8E;
    scrollbar-width:thin
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-bar {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100%;
    background-color: #F5CF8E;
    
}

.logo-breadly {
    text-align: center;
    margin-top: 2.3em;
    margin-bottom: 1em;
}
#logo {
    width: 17rem;
}

.search {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.web_search {
    font-size: 30px;
    font-family: "Sofia Sans", sans-serif;
    height: 1.7em;
    margin: auto;
    border-radius: 5px;
    border: 2.3px solid #7D2A0C;
    padding-left: 12px;
}

.category-stack {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.category {
    text-decoration: none;
    user-select: none;
    width: 83%;
    color: #7D2A0C;
    font-size: 2.7em;
    margin-left: 0.7em;
    background-color: #ECDDB6;
    margin-top: 0.9em;
    padding: 9px;
    border-radius: 7px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    height: 5em;
    background-color: #3F3C36;
    font-size: 20px;
    color: #ecddb683;
    padding-top: 1%;
    padding-left: 3%;
}

footer::-webkit-scrollbar {
    background-color: darkgrey;
}

.text-footer {
    height: 85%;
    border-right: 1.4px solid #ecddb63f;
    padding-right: 5.45%;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
}

.telegram, .vk {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#icon-telega, #icon-vk {
    width: 1.5em;
}

.url-telega, .url-vk {
    padding-top: 1.2px;
}