.mainRecipePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-left: -5%;
}

.picAndNamed {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 20px;
    gap: 2rem;
}

.pictureRecipe img {
    width: 43em;
    height: 20em;
    border-radius: 10px;
    object-fit: cover;
}

.name {
    font-size: 3.3rem;
    font-weight: 500;
    width: 7.3em;
    margin-bottom: 20px;
}

.components ul {
    list-style-type:none;
    padding-left: 0;
    font-size: 1.8rem;
    width: 15em;
}

.ingrendients,
.preparation {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.onePart, .twoPart, .threePart, .fourPart {
    display:list-item;
    list-style-position: inside;
    width: 40em;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.onePart::marker {content: "1"; font-size: 2.5em;}
.twoPart::marker {content: "2"; font-size: 2.5em;}
.threePart::marker {content: "3"; font-size: 2.5em;} 
.fourPart::marker {content: "4"; font-size: 2.5em;}

.description {
    margin-top: 20px;
    width: 100%;
}
